<div class="columns large-2 medium-2">
    <h4>Existing Profiles</h4>
    <ul>
        <li *ngFor="let profile of db.existingProfiles"><span class="clickable" (click)="displayProfile(profile.name)" title="Edit this profile">{{ profile.name }}</span> &nbsp;&nbsp;<i class="fa fa-trash-o" (click)="deleteProfile(profile.name)" title="Delete this profile"></i></li>
    </ul>
</div>

<div class="columns large-10 medium-10">
    <h4>Name:</h4>
    <input type="text" [(ngModel)]="name" (keyup)="saved = false" placeholder="Give the profile a name">

    <br>

    <h4>Attributes:</h4>
    Type: <input type="text" [(ngModel)]="attributeType" placeholder="Enter the type of the attribute (e.g. 'Description')">
    Value: <input type="text" [(ngModel)]="attributeValue" placeholder="Enter the value of the attribute">
    Displayed: &nbsp;<input type="checkbox" [(ngModel)]="attributeDisplayed">
    <br>
    <button class="button secondary" *ngIf="attributeType !== ''" (click)="updateAttributes()">Add new/updated attribute</button>
    <ul>
        <li *ngFor="let attribute of attributes"><span (click)="displayAttribute(attribute.type, attribute.value, attribute.displayed)" class="clickable" title="Edit this attribute">{{ attribute.type }}: {{ attribute.value }}</span> &nbsp;&nbsp;<i class="fa fa-trash-o" (click)="deleteAttribute(attribute.type, attribute.value, attribute.displayed)" title="Delete this attribute"></i></li>
    </ul>

    <br>

    <h4>Tags:</h4>
    <input type="text" [(ngModel)]="tag" placeholder="Enter a tag to add to the profile">
    <br>
    <button class="button secondary" *ngIf="tag !== ''" (click)="updateTag()">Add new/updated tag</button>
    <ul>
        <li *ngFor="let tag of tags"><span (click)="displayTag(tag)" class="clickable" title="Edit this tag">{{ tag }}</span> &nbsp;&nbsp;<i class="fa fa-trash-o" (click)="deleteTag(tag)" title="Delete this tag"></i></li>
    </ul>

    <br><br>

    <div class="float-right">
        <button class="button" (click)="saveProfile()">Save profile <b *ngIf="!saved">*</b></button>
    </div>
</div>
